.block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}
body h5 {
  display: inline-flex;
  padding: 0;
  font: 600 15px "Alright Sans", "Avenir", "Tahoma", sans-serif;
}
.dark section.events,
.dark-contrast section.events {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.ligth section.events,
.light-contrast section.events {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
section.events:last-child {
  border: 0;
}
/** CreateView **/
.createview section {
  display: block;
	padding-bottom: 10px;
	margin-bottom: 24px;
}
.createview section h1 {
  font: 600 18px "Alright Sans", "Avenir", "Tahoma", sans-serif; 
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.dark .createview section h1,
.dark-contrast .createview section h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
}
.light .createview section h1,
.light-contrast .createview section h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}
/* WHIDataGrid */
.hide {
  display: none !important;
}
.whi-table #header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.whi-table #header h2 {
  font-family: "Alright Sans", "Avenir", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 10px;
}
.whi-table #header button {
  
}
.whi-table table {
  float: left;
  border-collapse: collapse;
  border: 0;
}
.whi-table table tr th {
  padding: 5px 0 0 0;
  font-size: 11px;
  text-align: left;
}
.dark .whi-table table tr th,
.dark-contrast .whi-table table tr th {
  color: #fff;
}
.light .whi-table table tr th,
.light-contrast .whi-table table tr th {
  color: #000;
}
.whi-table table tbody tr {
 border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.whi-table table tr td {
  padding: 0 35px 0 0;
  min-width: 20%;
}
.whi-table table tr td:last-child {
  padding: 0;
}
.whi-table table tr td:nth-child(3) span {
  margin: 0 10px 4px 0;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.whi-table table tr td span {
  display: block;
  float: left;
  font-family: "Alright Sans", "Avenir", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #909090;
}
.dark .whi-table table tr td span,
.dark-contrast .whi-table table tr td span {
  color: #fff;
}
.light .whi-table table tr td span,
.light-contrast .whi-table table tr td span {
  color: #000;
}
.whi-table table tr td ul {
  float: left;
  width: 100%;
  padding: 0;
  list-style: none;
}
.whi-table table tr td ul li {
  float: left;
  margin: 0 7px 0 0;
}
.whi-table table tr td ul li .btn-remove {
  color: #F24405;
}
.whi-table table tr td a {
  display: block;
  float: left;
  font-size: 12px;
  margin-right: 7px;
}
.whi-table table tr td a:hover {
  text-decoration: none;
}
.whi-table table tr td:nth-child(5) span {
  display: block;
  float: left;
  margin: 0 8px 0 0;
}
.whi-table table tr td a > i {
  padding: 0 0 0 10px;
  font-size: 14px;
}
.dark .whi-table table tr td a > i,
.dark-contrast .whi-table table tr td a > i {
  color: #fff;
}
.light .whi-table table tr td a > i,
.light-contrast .whi-table table tr td a > i {
  color: #000;
}
.balloon {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 0;
  padding: 7px 10px;
  max-width: 830px;
  margin: 10px auto 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  transition: all 0.3s linear;
}
.balloon a, .balloon span, .balloon p {
  flex-grow: 1;
  color: #333;
}
.balloon a {
  text-align: right;
}
.dark .balloon p, .dark-contrast .balloon p,
.dark .balloon i, .dark-contrast .balloon i {
  color: #fff;
}
.light .balloon p, .light-contrast .balloon p,
.light .balloon i, .light-contrast .balloon i {
  color: #000;
}
.balloon.show {
  display: flex;
  height: 45px;
}
.balloon.hide {
  display: none;
  height: 0;
}
.balloon p {
  text-align: center;
  margin: 0;
  color: #333;
  line-height: 15px;
  font-size: 12px;
}
.revoke {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.revoke p {
  text-align: center;
  margin: 0 auto 20px auto;
  line-height: 22px;
}
.revoked-instances {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
}
.revoked-instances li {
  list-style-type: none;
  margin-bottom: 10px;
}
.revoked-instances li span {
  padding: 0 0 0 10px;
}
.revoked-instances li i {
  color: #5cb85c;
}
.revoke button {
  display: block;
  margin: 30px auto 0 auto;
}

/** Integration Identity **/
.integration-identity {
	display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}
.integration-identity figure {
	display: inline-flex;
  margin: 0 10px 0 0;
}
.integration-identity-container > div {
  margin-bottom: 24px;
}
.dark .integration-identity-container h3, .dark .integration-identity-container h5 label,
.dark-contrast .integration-identity-container h3, .dark-contrast .integration-identity-container h5 label {
  color: #fff;
}
.light .integration-identity-container h3, .light .integration-identity-container h5 label,
.light-contrast .integration-identity-container h3, .light-contrast .integration-identity-container h5 label {
  color: #000;
}
.integration-identity-input {
  display: flex;
  flex-grow: 1;
}
.integration-identity-input input,
.light .integration-identity-input input,
.dark .integration-identity-input input,
.dark-contrast .integration-identity-input input {
  max-width: 490px;
  height: 32px;
  box-sizing: border-box;
}
span.required,
span.checked,
.light span.required,
.light span.checked,
.dark span.required,
.dark span.checked,
.dark-contrast span.checked,
.dark-contrast span.required {
  display: block;
  float: left;
  padding: 7px 0 0 7px;
  color: #f00;
  font-size: 7px !important;
}
.dark span.required,
.dark-contrast span.required {
  color: #f68128;
}
span.checked,
.light span.checked,
.dark span.checked,
.dark-contrast span.checked {
  color: #5cb85c;
  font-size: 12px !important;
}

/** SubmitWebHook **/
.submit-webhook {
  margin: 0 auto;
  width: 98%;
  height: auto;
  padding: 5px 0 0 0;
}
.dark .submit-webhook,
.dark-contrast .submit-webhook {
  border-top: 1px solid rgba(255,255,255,0.8);
}
.light .submit-webhook,
.light-contrast .submit-webhook {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.submit-webhook .btn-container {
  float: left;
  width: 100%;
}
.submit-webhook button {
  float: right;
    margin: 15px 0 0 25px !important;
    min-width: 100px;
}

/** Warning **/
.warning-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0 0 4px 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}
.warning-box.warning {
  background: #fcf8e3;
}
.warning-box.error {
  background: #f00;
}
.warning-box.success {
  background: #7ce0bb;
}
.warning-box.required {
  background: #FE7A7D;
}
.warning-box div {
  max-width: 90%;
}
.warning-box div a {
  color: #000;
}

/** Commons **/
figure {
	padding: 0;
	margin: 0;
}
.spinner div {
  display: block;
  margin: 20px auto 10px auto;
  font-size: 40px;
  text-align: center;
}
.spinner p {
  font-size: 14px;
  text-align: center;
}
/* Posting Location Component */
.radio-group {
  display: flex;
  flex-direction: column;
}
.radio-group .radio {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  min-height: 25px;
}
.radio-group .radio.top {
  align-items: flex-start;
}
.radio-group input[type='radio'] {
  display: inline-flex;
  width: auto;
  height: 18px;
  margin: 0 8px 0 0;
}
.radio-group label {
  display: flex;
  flex-grow: 1;
}
.posting-location-container {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
}
.posting-location-container h5 {
  display: flex;
  margin-bottom: 10px;
}
.dark .posting-location-container h5, .dark .posting-location-container h3,
.dark-contrast .posting-location-container h5, .dark-contrast .posting-location-container h3 {
  color: #fff;
}
.light .posting-location-container h5, .light .posting-location-container h3,
.light-contrast .posting-location-container h5, .light-contrast .posting-location-container h3 {
  color: #000;
}
.posting-location-warning {
  width: 100%;
  max-width: 490px;
  line-height: 18px;
}
.posting-location-warning h6 {
  margin: 0.1rem 0px 0.4rem;
}
.posting-location-container .input-container {
  float: left;
  width: 100%;
  max-width: 490px;
}
.dark .posting-location-container label,
.dark-contrast .posting-location-container label {
  color: #fff;
}
.light .posting-location-container label,
.light-contrast .posting-location-container label {
  color: #000;
}
.input-search-rooms-container {
  float: left;
  width: 100%;
  height: 32px;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
.light .input-search-rooms-container,
.light-contrast .input-search-rooms-container {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 4px;
}
.dark .input-search-rooms-container,
.dark-contrast .input-search-rooms-container {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}
.input-search-rooms-container input {
  float: left;
  width: 93% !important;
  height: 32px !important;
  border: none !important;
  margin: 0 !important;
  box-sizing: border-box;
  background: none !important;
}
.input-search-rooms-container a {
  display: block;
  float: right;
  width: 5%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 8px 0 0 0;
}
.dark .input-search-rooms-container a ,
.dark-contrast .input-search-rooms-container a {
  color: rgba(255, 255, 255, 0.8) !important;
}
.light .input-search-rooms-container a,
.light-contrast .input-search-rooms-container a {
  color: rgba(0, 0, 0, 0.8) !important;
}
.list-container {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 0;
  box-sizing: border-box;
}
.list-rooms-container {
  float: left;
  width: 100%;
}
.room-box {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0 0.5% 0 0.5%;
  box-sizing: border-box;
}
.dark .room-box,
.dark-contrast .room-box {
  background: #333;
}
.light .room-box,
.light-contrast .room-box {
  background: #fff;
}
.room-box li {
  float: left;
  width: 100%;
  min-height: 32px;
  margin: 0;
  padding: 4px 2px;
  list-style-type: none;
  box-sizing: border-box;
}
.room-box li a {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  padding: 7px 3px 2px 5px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
}
.dark .room-box li,
.dark-contrast .room-box li {
  border-bottom: 1px solid rgba(255,255,255,.08);
}
.light .room-box li,
.light-contrast .room-box li {
  border-bottom: 1px solid #cdcdcd;
}
.room-box li:last-child {
  border-bottom: 0;
}
.dark .room-box li a,
.dark-contrast .room-box li a {
  background: #333;
}
.light .room-box li a,
.light-contrast .room-box li a {

}
.dark .room-box li a:hover, .dark .room-box li a:focus,
.dark-contrast .room-box li a:hover, .dark-contrast .room-box li a:focus {
  background: rgba(255,255,255,.05);
}
.light .room-box li a:hover, .light .room-box li a:focus,
.light-contrast .room-box li a:hover, .light-contrast .room-box li a:focus {
  background: rgba(0,0,0,.05);
}
.room-box li a span {
  font-family: "Alright Sans",Avenir,Tahoma,sans-serif;
  font-weight: 500;
}
.room-box li a span,
.dark .room-box li a span,
.dark-contrast .room-box li a span {
  color: rgba(255,255,255,.8);
}
.light .room-box li a span,
.light-contrast .room-box li a span {
  color: rgba(0,0,0,.8);
}
.room-box .room-info, .filter-box .room-info {
  display: block;
  float: left;
  width: 100%;
}
.room-box .room-info span, .filter-box .room-info span {
  font-size: 11px;
  font-weight: normal;
}
.dark .room-box .room-info span, .dark .filter-box .room-info span,
.dark-contrast .room-box .room-info span, .dark-contrast .filter-box .room-info span {
  color: rgba(255,255,255,.6);
}
.light .room-box .room-info span, .light .filter-box .room-info span,
.light-contrast .room-box .room-info span, .light-contrast .filter-box .room-info span {
  color: rgba(0,0,0,.6);
}
.room-box li a span {
	display: block;
	float: left;
	font-size: 13px;
	color: rgba(255,255,255,.8);;
}
.room-box li a i {
	float: left;
	padding: 1px 0 0 9px;
	color: #ee5555;
  font-size: 10px;
}
.filter-box-container, .filter-box-container-success {
  display: block;
  float: left;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
}
.filter-box-container-hide {
  display: none;
}
.filter-box-container-success {
  width: 100%;
  max-width: 490px;
}
.filter-box-container, .filter-box-container-success {
  background: none;
}
.filter-box {
	float: left;
  width: 100%;
	height: 35px;
	padding: 5px 8px 0 8px;
	margin: 5px 0 0 0;
	border-radius: 3px;
	font-size: 12px;
  box-sizing: border-box;
}
.filter-box span {
  display: block;
  float: left;
  padding: 0 5px 0 0;
}
.filter-box a {
  display: block;
  float: right;
  padding: 0;
}
.filter-box span i {
  color: #ee5555;
  font-size: 10px;
}
.light .filter-box,
.light-contrast .filter-box {
  background: #F9F9FA;
  color: rgba(0,0,0,.8);
}
.dark .filter-box,
.dark-contrast .filter-box {
  background: #333;
  color: rgba(255,255,255,.8);
}
.light .filter-box a,
.light-contrast .filter-box a {
  color: #959596;
}
.dark .filter-box a,
.dark-contrast .filter-box a {
  color: rgba(255,255,255,.8);
}
.gen-webhook-url {
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}
.webhook-url-div input.ipt-whurl {
  width: 100%;
  max-width: 490px;
  height: 32px;
  box-sizing: border-box;
}
.webhook-url-div a {
  padding-left: 10px;
}

/** Trello Board **/
.trello-board h3 {
  margin: 10px 0 20px 0;
  text-align: left;
}
.dark body .trello-board h3, .dark-contrast body .trello-board h3,
.dark body .trello-board h5, .dark-contrast body .trello-board h5 {
  color: #fff;
}
.light body .trello-board h3, .light-contrast body .trello-board h3,
.light body .trello-board h5, .light-contrast body .trello-board h5 {
  color: #000;
}
.trello-board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.trello-board-container p {
  flex-grow: 1;
  margin: 10px 0 5px 0;
  line-height: 150%;
}
.dark .trello-board-container p, .dark .trello-board-container h3,
.dark-contrast .trello-board-container p, .dark-contrast .trello-board-container h3 {
  color: #fff;
}
.light .trello-board-container p, .light .trello-board-container h3,
.light-contrast .trello-board-container p, .light-contrast .trello-board-container h3 {
  color: #000;
}
.trello-board-container .board-select {
  flex-grow: 2;
  justify-content: flex-start;
  max-width: 600px;
}
.board-select a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  text-decoration: none;
}
.board-select a i {
  
}
.dark .board-select a,
.dark-contrast .board-select a {
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.08);
  background: rgba(0,0,0,0.4);
}
.light .board-select a,
.light-contrast .board-select a {
  color: rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(255,255,255,0.4);
}
.dark .board-select a span, .dark .board-select a i,
.dark-contrast .board-select a span, .dark-contrast .board-select a i, {
  color: rgba(255,255,255,0.8);
}
.light .board-select a span, .light .board-select a i,
.light-contrast .board-select a span, .light-contrast .board-select a i, {
  color: rgba(255,255,255,0.8);
}
.board-select ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0;
  padding: 0 .5%;
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.dark .board-select ul, .dark-contrast .board-select ul {
  background: #333;
}
.light .board-select ul, .light-contrast .board-select ul {
  background: #fff;
}

.board-select ul.show {
  max-height: 500px;
  transition: max-height 0.25s ease;
}
.board-select ul.hide {
  max-height: 0;
  transition: max-height 0.25s ease;
}
.board-select ul li, .board-select ul li a {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box; 
}
.board-select ul li {
  width: 100%;
  margin: 0;
  padding: 4px 2px;
  height: 46px;
  list-style-type: none;
}
.board-select ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 28px;
  /*padding: 7px 3px 2px 5px;*/
  text-decoration: none;
  border-radius: 2px;
  box-sizing: border-box;
}
.dark .board-select ul li a,
.dark-contrast .board-select ul li a {
  background: #333;
}
.dark .board-select ul li a:hover,
.dark-contrast .board-select ul li a:hover {
  background: hsla(0,0%,100%,.05);
}
.light .board-select ul li a, 
.light-contrast .board-select ul li a {
  background: rgba(0,0,0,.02);
}
.light .board-select ul li a:hover, 
.light-contrast .board-select ul li a:hover {
  background: rgba(0,0,0,.05);
}
.board-events {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 885px;
}
.dark .board-events p,
.dark-contrast .board-events p {
  color: #fff;
}
.light .board-events p,
.light-contrast .board-events p {
  color: #000;
}
.board-events > div {
  flex-grow: 1;
  width: 100%;
  margin: 0 20px 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.dark .board-events > div , .dark-contrast .board-events > div {
  border-right: 1px solid rgba(255,255,255,0.8);
}
.board-events > div:last-child {
  border: none;
}
.board-events > div h4 {
  font-weight: normal;
  font-size: 16px;
}
.board-events ul {
  margin: 10px;
}
.board-events ul li > i {
  display: block;
  float: left;
  margin-right: 7px;
}
.events {
  padding: 0;
  min-width: 200px;
}
.events li {
  margin: 0 0 12px 0;
  list-style-type: none;
}
.dark .events li, .dark-contrast .events li {
  color: #fff;
}
.light .events li, .light-contrast .events li {
  color: #000;
}
/*.events li a > i, .events li > i {
  color: #5cb85c;
}
.events li > i {
  margin-right: 7px;
}*/
.symphony-external-app.dark .events li input[type='checkbox'],
.symphony-external-app.dark-contrast .events li input[type='checkbox'],
.symphony-external-app.light .events input[type='checkbox'],
.symphony-external-app.light-contrast .events li input[type='checkbox'] {
  float: left;
  margin: 0 10px 0 0;
  width: auto;
}
.board-lists {
  display: block;
}

/* Remove view */
.remove-container {

}
.remove-btn-container {
  margin: 0 auto;
  width: 98%;
  height: 50px;
  padding: 5px 0 0 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.dark .remove-btn-container,
.dark-contrast .remove-btn-container {
 border-top: 1px solid rgba(255,255,255,0.8);
}
.remove-btn-container button {
  float: right;
    margin: 15px 0 0 25px !important;
    min-width: 100px;
}
/* Popup blocking warning */
.popup {
  padding-top: 20px;
}
.popup p {
  text-align: center;
}

@media (max-width: 850px) {
  .board-events {
    /*flex-direction: column;*/
  }
  .board-events > div {
    max-width: 100%;
  }
  
}
